/* FUENTE DE LA BARRA DE NAVEGACIÓN Y FOOTER */
@import url(https://fonts.googleapis.com/css?family=Josefin-Sans);

/* FUENTE TENTATIVA PARA EL CONTENIDO DE LAS PÁGINAS */
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
/* FUENTE PARA TITULOS - CLASS: fuente-titulo*/
@import url('http://fonts.cdnfonts.com/css/perpetua-titling-mt');
/* FUENTE PARA TEXTO NORMAL - CLASS: fuente-titulo*/
@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);

/* ---------------------------------------- NAVBAR ---------------------------------------- */
.collapse {
    justify-content: right;
}

.container  ul li a {
    /* color: #bb9569; el primero*/
    /* color: #bda182; */
    /* color: #bda284; */
    color: #b9a38a;
    font-family: 'Josefin Sans';
    font-size: 18px;
    justify-content: right;
}

.btn-nav-pie{
    border-color: #b9a38a;
    color: #b9a38a;
    margin-left: 10px;
}

.btn-nav-pie:hover {
    /* background-color: #000000; */
    /* background-color: #012c2e; verde oscuro */
    /* background-color: #23666A; verde clarito */
    /* background-color: #865f31f5; cafe */
    /* transition: 20ms; */
    border-radius: 15%;
    background-color: #012c2e;
    filter: invert(1);
    transition: 0.5s;
}

/* ----------------------------------------- CRUD ------------------------------------------ */
/* FUENTES DE LETRA */
.fuente-titulo{
    font-family: 'Perpetua Titling MT', sans-serif;
}

.fuente-texto{
    font-family: "Candara";
}


/* OTRO */
body{
    background-image: url(/assets/img/icons/fondoChulo.jpeg);;
}
th{
    border-bottom: 2px solid #7B6C65;
}

td{
border-bottom: 2px solid #7B6C65;
color: rgb(0, 0, 0, 0.7);

}
#crud{
    border-radius: 10px;
}
#encabezados{
    color: #7B6C65;
}

.nav-tabs .nav-item a:not(.active){
	background-color: rgba(180, 153, 124, 0.55);
    color: rgb(0,0,0,0.7);
    transition: .6s;
    
}



.nav-tabs{
	border-bottom:0px;
    
}

.img{
    height: 8rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
}


.agregar{
    position: sticky;
    left: 60rem;
    background-color: transparent;
    color: rgb(0, 0, 0,0.5);
    border: 2px solid rgb(184, 183, 183);
    border-radius: 6px;
    transition: 0.3s;
}

.agregar:hover{
    background-color: rgb(0, 0, 0,0.5);
    color:white;
}

#crud{
    margin-bottom: 20rem;
    margin-top: 40px;
    background-color: rgb(223, 225, 227);
    padding: 2em 2em;
    border-radius: 10p;
}

.botton_crud{
    background-color: transparent;
    border-radius: 6px;
    color: rgb(0, 0, 0,0.5);
    border: 2px solid rgb(184, 183, 183);
    transition: .4s;

}

.botton_crud:hover{
    background-color: rgb(0, 0, 0,0.5);
    color:white;
}


/*************************************** Modal *************************************/

/***** formulario *****/

.formulario{
    width:100%;
    max-width: 100%;
    background-color: #98878F;
}

.formulario_titulo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: rgba(255, 255, 255); 

}
.titulo_imagenes{
    display: inline-block;
    color: rgb(0, 0, 0);
} 

.formulario_input_dos, .formulario_label,.formulario_submit{
    display: block;
    width: 100%;
    border: 1px solid rgba(0,0,0, 0.3);
    margin-bottom: 40px;
}

.formulario_input_dos{
    height: 80px;
    background-color: #fcfcfc;
    border-radius: 10px;
    border: 1px solid black;
}

.formulario_label{
    padding-left: 20px;
}
.Zuli{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.formulario_sumbmit{
    padding: 8px;
    border-radius: 6px;
    background-color: #a68069;
    color: white;
    transition: .4s;
    border:1px solid #000000;
    width:100%;
   
    
}
.formulario_sumbmit:hover{
    background-color: #fcb7af;
    color: black;
}


/* Modal modal */

.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 59, 59, 0.856);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    
} 

.modal_show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform:translateY(0);
    --transition: transform .8s .8s;
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    
    background-color: #b9a38a;
    border-radius: 6px;
    /* padding: 3em 2.5em; */

    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em;

    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform:var(--transform);
    transition: var(--transition);
    

}
.modal_close{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #a68069;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 6px;
    display: inline-block;
    font-weight: 200;
    transition: background-color .3s;
    
}

.modal_close:hover{
    color: rgb(0, 0, 0);
    background-color: #ffb6af;
}

/* ---------------------------------------- FOOTER ---------------------------------------- */

footer {
    position: static;
    width: 100%;
    left: 0;
    bottom: -10;
    padding: 2rem 8%;
    background-color: rgba(19, 49, 51, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

.iconos-redes-sociales-container,
.pie-de-pagina-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.10cm;
}

.redes-iconos {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: 1px inset rgba(226, 204, 179, 1);
    background-image: url(/assets/img/icons/facebook.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}


.redes-iconos:hover {
    background-color: rgba(19, 49, 51, 1);
    border-radius: 15%;
    filter: invert(1);
    transition: 0.5s;
}

.redes-iconos:nth-of-type(2) {
    background-image: url(/assets/img/icons/instagram.png);

}

.redes-iconos:nth-of-type(3) {
    background-image: url(/assets/img/icons/Whatsapp.png);
}

.redes-iconos:nth-of-type(4) {
    background-image: url(/assets/img/icons/phone.png);
}

.item-menu {
    margin: 1rem 1.5rem;
    cursor: pointer;
    list-style-type: none;
    font-size: 15px;
    opacity: 0.6;
    color: rgba(226, 204, 179, 1);
}

.item.hover {
    opacity: 1;
}

.copyright {
    color: rgba(226, 204, 179, 1);
    opacity: 0.3;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}