/* FUENTE DE LA BARRA DE NAVEGACIÓN Y FOOTER */
@import url(https://fonts.googleapis.com/css?family=Josefin-Sans);

/* FUENTE TENTATIVA PARA EL CONTENIDO DE LAS PÁGINAS */
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

/* ---------------------------------------- NAVBAR ---------------------------------------- */
.collapse {
    justify-content: right;
}

.container  ul li a {
    color: #b9a38a;
    font-family: 'Josefin Sans';
    font-size: 18px;
    justify-content: right;
}

.btn-nav-pie{
    border-color: #b9a38a;
    color: #b9a38a;
}

.btn-nav-pie:hover {
    border-radius: 15%;
    background-color: #012c2e;
    filter: invert(1);
    transition: 0.5s;
}


/* ---------------------------------------- CONTACTO ---------------------------------------- */
.contacto{
    font-family: 'Open Sans Hebrew Condensed';
    font-size: large;
}

.formulario-contacto{
    background-color: rgb(243, 221, 224);
}

.img-contact{
    border-radius: 50%;
}


/* ---------------------------------------- FOOTER ---------------------------------------- */

footer {
    position: static;
    width: 100%;
    left: 0;
    bottom: -10;
    padding: 2rem 8%;
    background-color: rgba(19, 49, 51, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

.iconos-redes-sociales-container,
.pie-de-pagina-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.10cm;
}

.redes-iconos {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1px inset rgba(226, 204, 179, 1);
    background-image: url(../icons/facebook.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.redes-iconos:nth-of-type(2) {
    background-image: url(../icons/instagram.png);

}

.redes-iconos:nth-of-type(3) {
    background-image: url(../icons/Whatsapp.png);
}

.redes-iconos:nth-of-type(4) {
    background-image: url(../icons/phone.png);
}

.redes-iconos:hover {
    border-radius: 15%;
    background-color: rgba(19, 49, 51, 1);
    filter: invert(1);
    transition: 0.5s;
}

.item-menu {
    margin: 1rem 1.5rem;
    cursor: pointer;
    list-style-type: none;
    font-size: 15px;
    opacity: 0.6;
    color: rgba(226, 204, 179, 1);
}

.item.hover {
    opacity: 1;
}

.copyright {
    color: rgba(226, 204, 179, 1);
    opacity: 0.3;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}