/* --------------- FUENTES PARA LA PÁGINA ---------- */
@import url(https://fonts.googleapis.com/css?family=Josefin-Sans); /* FUENTE DE LA BARRA DE NAVEGACIÓN Y FOOTER */

/* FUENTE TENTATIVA PARA EL CONTENIDO DE LAS PÁGINAS (MUESTRA EN H1 Y H2) */ 
@import url(//db.onlinewebfonts.com/c/8141d57bb00c8a8cfb53c332d98c46fa?family=Open+Sans+Hebrew+Condensed);
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url(//db.onlinewebfonts.com/c/8141d57bb00c8a8cfb53c332d98c46fa?family=Open+Sans+Hebrew+Condensed);

@import url(https://fonts.googleapis.com/css2?family=Tangerine&display=swap%27;ss?family=Tangerine);

@import url(https://fonts.googleapis.com/css?family=JosefinSans);

.collapse{
    justify-content: right;
}

.container-fluid ul li a {
    /* color: #bb9569; el primero*/
    /* color: #bda182; */
    /* color: #bda284; */
    color: #b9a38a;
    font-family: 'Josefin Sans';
    font-size: 18px;
  }

a:hover{
    background-color: #012c2e;
    /* background-color: #23666A; */
    border-radius: 10px;
    transition: 10ms;
}

button:hover{
    background-color: #000000;
    /* background-color: #012c2e; verde oscuro */
    /* background-color: #23666A; verde clarito */
    /* background-color: #865f31f5; cafe */
    transition: 10ms;
}


/* h1 {
position: absolute;
width: 290px;
height: 97px;
left: 493px;
top: 144px;

font-family: 'Open Sans Hebrew Condensed';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 87px;
text-align: center;
text-transform: uppercase;

color: #000000;
} */

/* h2 {
    position: absolute;
width: 70px;
height: 52px;
left: 940px;
top: 152px;

font-family: 'Tangerine';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 64px;

color: #000000;
} */

/* .la {
    position: absolute;
    width: 70px;
    height: 52px;
    left: 940px;
    top: 152px;

    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;

    color: #000000;
}


.historia {
    position: absolute;
    width: 154px;
    height: 62px;
    left: 898px;
    top: 204px;

    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
}

.de {
    position: absolute;
    width: 52px;
    height: 56px;
    left: 944px;
    top: 266px;

    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;

    color: #000000;
}


.ramaka {
    position: absolute;
    width: 234px;
    height: 122px;
    left: 858px;
    top: 322px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #000000;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
} */

/* .body{
    height: 100vh;
    width: 100%;
    position: relative;
}
 */

/*********************************************** CARRUSEL *******************************************/  
.img-carousel{
    height: calc(73vh - 95px);
    object-fit: cover;
    width: 100%;
}

h1.bannerCarrusel{
    background-color: rgba(0, 0, 0, 0.55);
    color: #CDA271;
    text-align: center;
    position: relative;
    top: -295px;
    font-family: 'Courier New', Courier, monospace;
}

.imgCarrusel{
    object-position: bottom;
}

/********************************************** CARDS **********************************************/
.card{
    border-radius: 10%;
}

.card-title-inicio{
    font-family: 'Open Sans Hebrew Condensed';
    /* background-color: rgba(95, 158, 160, 0.63); */
    color: aliceblue;
    background-color: rgba(94, 109, 109, 0.63);
    position:absolute ;
    width: 100%;
    margin-top: -6rem;
    margin-left: -1.25rem;
    margin-right: auto;
    margin-bottom: 4rem;
}

.card-text-inicio{
    font-family: 'Open Sans Hebrew Condensed';
    
}

.img-carta-inicio{
    height: 8rem;
    object-fit:cover ;
}

.btn-cards{
    color: white;
    background-color: #814fa7;
}
/********************************************** FOOTER **********************************************/
footer {
    
position: static;
width: 100%;
left: 0;
bottom: 0;
padding: 2rem 8%;
background-color: rgba(19, 49, 51, 1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

.logo{
    height: 100px;
    margin-bottom: 1rem;

}

.iconos-redes-sociales-container, .pie-de-pagina-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.10cm;
}

.redes-iconos{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1px inset rgba(226, 204, 179, 1);
    background-image: url(/recursos/facebook.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;

}

.redes-iconos:hover{
    background-color: rgba(19, 49, 51, 1);
    filter: invert(1);
}

.redes-iconos:nth-of-type(2){
    background-image: url(/recursos/instagram.png);
    
}
.redes-iconos:nth-of-type(3){
    background-image: url(/recursos/Whatsapp.png);
}    
.redes-iconos:nth-of-type(4){
    background-image: url(/recursos/phone.png);
}

.pie-de-pagina-container{
    list-style-type: none;
    color: rgba(226, 204, 179, 1);
    font-size: 18px;
}

.item-menu{
    margin: 1rem 1.5rem;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.6;
    color: rgba(226, 204, 179, 1);
    
}

.item.hover{
    opacity: 1;
}

.item-menu{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    color: rgba(226, 204, 179, 1);

}
.item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    color: rgba(226, 204, 179, 1);

}


.copyright{
    color: rgba(226, 204, 179, 1);
    opacity: 0.3;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

/**************************************** JONA ***********************************************/
.tituloMisionVision{
    font-family: 'Josefin Sans';
    text-align: center;
    color: #000000;
    font-size: 3rem;
}

.textoMisionVision{
    font-family: 'Josefin Sans';
    color: #000000;
    text-align: justify;
    font-size: 1.5rem;
}
#valor{
    font-family: 'Josefin Sans';
    text-align: center;
    padding: .5em;
    width: 1000px;
    display: inline-block;
    
}
.porqueElegirnos{
    background-image: url(https://t3.ftcdn.net/jpg/02/98/62/46/360_F_298624693_ME6Vstt4mgB1ICNBtaZPTxIIj13HQ0hd.jpg);
    opacity: 110%;
    font-family: 'Josefin Sans';
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    /* font-weight: 100; */
    
}