body{
    height:100%
    margin 0;
    background-color: white;
}
/* #eeeeee */

.links{
    color: #5a1706;
    padding: 0;
    margin: 0;
}

h5{
padding-left: 5%;
margin-bottom: 50px;
font-size: 25px;
}
ul{
    padding: 0;
}

#C1{
    
    margin-left: 0;
    margin-right: 0;
  
  
}

.links:hover{
    color: #00b82e;
    border-radius: 2px;
 }
/*  #00b82e */

 #padre{
    background-color: #ebe1c9;
    padding: 10% 5% 5% 7%;
    color: #5a1706;
    
 }

 #tabla{
    margin: 5% 0;
 }

 #contenido{
    padding-right: 5%;

 }