/*********************************** Importaciones de letra *****************************/

@import url(https://fonts.googleapis.com/css?family=Josefin-Sans);



/************************* Elementos ***********************/

body{
    background-image: url("../Recursos/Img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1{
    background-color: rgb(174, 133, 86,0.4);
    padding: 5px;
    font-family: 'Josefin Sans';
    font-size: 50px;
}
h5{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Josefin Sans';
    border-radius: 5px;
    padding: 10px;
    
}

/************************** Clases de las Cards ***************************/

.card{
    background-color: #caa77e;
    margin: 4%;
    width: auto;
    height: 700px;
    display: inline-block;
    border-radius: 19px;
}

.card-body{
    padding-top: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.card-img-top{
    margin-top: 4%;
    object-fit: cover;
    height: 300px;
    border-radius: 3px;
    
}

.card-description{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.card-text{
    background: rgba(255, 255, 255, 0.64);
    padding: 10px;
    border-radius: 10px;
    height: 90px;
    
}



